.banner{
    font-weight: bold;
    margin-left: 1vw;
    color:lightblue;
}

.connect{
    position: absolute;
    top: 2vh;
    right: 2vw;
    background: linear-gradient(to bottom right, #6600ff 0%, #ff0066 100%);
    border-radius:10px;
    border-width: 1px;
    border-color: rgba(255,255,255,0.2);
}

.connect:hover{
    
    background: linear-gradient(to bottom right, #ff0066 0%, #6600ff 100%);
    border-radius:10px;
    border-width: 3px;
    border-color: rgba(255,255,255,0.2);
    font-weight: bold;
}