body {
    background: linear-gradient(to top right, #33cccc 0%, #333399 84%);
    font-family: Arial, Helvetica, sans-serif;
}

.Home-container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
}

.contact {
    list-style: none;
    margin-left: -50px;
    color: #00ffff;
}

.contact a {
        color: #00ffff;
}

.about-me {
    background-color: none;
    border-radius: 30px;
    padding: 16px;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.8);
    display: flex;
}

    .about-me .image {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: -90px;
        border-radius: 20px;
    }

.image {
    flex: 0 0 auto;
    width: 60%;
    height: 10%;
    overflow: hidden;
}

.about-us-image {
    height: 60%;
    width: 80%;
    object-fit: contain;
    border-radius: 20px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-left: 20px;
    color: #00ffff;
}

    .content p {
        color: #00ffff;
        border-top: 1px solid white;
    }

h2 {
    margin-top: 0;
    margin-bottom: -5px;
    font-size: 40px;
}

.h2-title {
    margin-top: 20px;
}

.text-container {
    flex: 1;
    text-align: left;
}

@media only screen and (max-width: 479px) {
    .about-me {
        margin-left: -50px;
        flex-direction: column;
        width:130%;
        text-align: center;

    }

    .image {
        width: 100%;
        text-align: center;
    }

    .content {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}

