.About-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%;
}

.about-page-text{
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
}

.image{
    border-radius: 50%;
}

.icon{
    width: 2vw;

}

@media (max-width: 600px) {
    .About-page{
        flex-direction: column;
    }

    .image{
        width: 80%;
        margin-bottom: 3vh;
    }

    

   
  }